@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    animation: zoom 25s;
}
.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}
.banner h1{
    color: white;
    font-size: 3.5em;
    font-family: "Baloo Da 2", serif;
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.4 );
    line-height: 4rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: banner 1s 0.5s forwards;

}
.banner p{
    font-family: "Josefin Slab", serif;
    font-size: 2rem;
    color: white;
    font-weight: 200;
    margin-bottom: 2rem;
    opacity: 0;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.4 );
    animation: banner 1s 0.7s forwards;
}
.banner button{
    font-family: "Mulish", serif;
    color: white;
    background: #834d9b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #d04ed6, #834d9b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #d04ed6, #834d9b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 0;
    padding: 1rem 2rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-radius: 8px;
    opacity: 0;
    animation: banner 1s 0.9s forwards;
}

.banner button:hover{
    background: linear-gradient(to left, #f25afa, #502761);
    color: black;
}
@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes banner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
        
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}