@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --font-primaria: "Baloo Da 2", serif;
    --font-secundaria: "Josefin Slab", serif;
    --font-terciaria: "Mulish", serif;
}
.hamburguer{
   
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 1.5rem;
    top: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 1s;
    
}


.show-menu .hamburguer{
    right: 15rem;

}

.line{
    width: 100%;
    height: 0.14rem;
    background-color: white;
    
    box-shadow: .1rem .1rem 1px rgba(0, 0, 0, 0.4 ) ;
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;

}
.show-menu #line3{
    transform: rotate(-45deg) translate(.2rem, -.5rem) ;
}
.show-menu #line1{
    transform: rotate(45deg) translate(.2rem, .5rem);
}
#line3{
    transition: all 1s;
}
#line1{
    transition: all 1s;
}

.sidebar{
    background-color:rgb(39, 38, 38);
    width: 20rem;
    height: 100vh;
    position: fixed;
    z-index: 5;
    top: 0;
    right: -20rem;
    transition: all 1s;
}
.show-menu .sidebar{
    right: 0;
}



.menu{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu-item{
    text-align: center;
    margin-bottom: 1rem;
    
}
.menu-link{
    font-family: var(--font-terciaria);
    font-weight: 400;
    font-size: 2rem;
    color: white;
    transition: color 1s;
}
.menu-link:hover{
    color: #2688b0;
}
.social-media{
    
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;


}
.social-media i{
    background-color: #2688b0 ;
    color: rgb(39, 38, 38);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
    
}
.social-media i:hover{
    background-color: #1a546b;
}


header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    animation: zoom 25s;
}
.grad-header{
    width: 100%;
    height: 30rem;
    position: absolute;
    z-index: 3;
    top: 9.1rem;
    background-image: linear-gradient(rgba(0,0,0,0), #1a1a1a );
    background-size: cover;
}
.banner {
    position: absolute;
    top: 30%;
    left: 15%;
    z-index: 4;
}
.banner h1{
    color: white;
    font-size: 3.5em;
    font-family: var(--font-primaria);
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.4 );
    line-height: 4rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: banner 1s 0.5s forwards;

}
.banner p{
    font-family: var(--font-secundaria);
    font-size: 2rem;
    color: white;
    font-weight: 200;
    margin-bottom: 2rem;
    opacity: 0;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.4 );
    animation: banner 1s 0.7s forwards;
}
.banner button{
    font-family: var(--font-terciaria);
    color: white;
    
    background: linear-gradient(to left, #2688b0 , #1a5e79 ); 
    border: 0;
    padding: 1rem 2rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-radius: 8px;
    opacity: 0;
    animation: banner 1s 0.9s forwards;
}

.banner button:hover{
    background: linear-gradient(to left, #1a5e79, #2688b0);
    
}
@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes banner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
        
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}
.conhecimentos{
    width: 100%;
    height: 60rem;
    background-color: #1a1a1a;
    margin: 0;

}
.testes{
    width: 100%;
    height: 30rem;
    position: absolute;
    z-index: 10;
}
.container-2{
    width: 70%;
    height: 100%;
    position: relative;
    
    left: 15%;
}
.cabecalho-section-1{
    position: relative;
    width: 100%;
    height: 15%;
    background-color: #1a1a1a;
    
    
      
}
.cabecalho-section-1 h2{
    font-family: var(--font-secundaria);
    font-size: 4rem;
    color: #ececec;
    font-weight: 200;
    position: relative;
    text-align: center;
    top: 40%;
    opacity: 0;
    
    
}
.section-1-info{
    position: relative;
    width: 100%;
    height: 84.8%;
    background-color: #1a1a1a;
    
}
.conhecimentos-item{
    width: 35rem;
    height: 8rem;
    font-family: var(--font-secundaria);
    font-weight: 400;
    opacity: 0;
    
}
.conhecimentos-item#css{
    position: absolute;
    left: 1rem;
    top: 8rem;
    
    z-index: 3;
}
.conhecimentos-item#html{
    position: absolute;
    left: 4rem;
    top: 20rem;
    
    z-index: 3;
}
.conhecimentos-item#react{
    position: absolute;
    left: 7rem;
    top: 32rem;
    
    z-index: 3;
}
.nome-ling{
    width: 100%;
    height: 50%;
    font-size: 2rem;
    color: #2688b0;
    text-transform: uppercase;
    
    
    
}
.nome-ling i{
    font-size: 4rem;
    
}
.nome-ling#html-1 i{
    font-size: 4.5;
}
.info-ling{
    position: relative;
    font-size: 1.2rem;
    left: 4rem;
    width: 100%;
    height: 50%;
    color: white;
}

.nome-ling h3{
    position: relative;
    font-weight: 800;
    display: inline-block;
    bottom: .5rem;
    
}
.ling#h{
    padding-left: 1rem;
}
.ling#c{
    padding-left: 1rem;
}
.imagem-garoto{
    position: absolute;
    top: 5rem;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/g1.png");
    background-size: 100%;
    
}
.img-garoto{
    position: absolute;
    top: 5rem;
    right: 0;
    width: 30rem;
    height: 20rem;
}
.efeito-trans{
    position: absolute;
    top: 5rem;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #1a1a1a;
}
[data-anime]{
    
    transition: .3s;
}
[data-anime="left"]{
    transform: translate3d(-15rem,0,0);
}
.animation{
    animation: left-2 2s forwards;
}
.animationImg{
    animation: show-img 2s forwards;
}
.animationlinha{
    animation: show-linha 2s forwards;
}
.animationtitulo{
    animation: show-titulo 2s forwards;
}
@keyframes left-2 {
    0%{
        transform: translate3d(-20rem,0,0);
        opacity: 0;
    }
    100%{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}
@keyframes show-img {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes show-linha {
    0%{
        border-bottom: 0;
    }
    100%{
        border-bottom: .1rem solid #727272;
    }
}
@keyframes show-titulo {
    0%{
        top: 70%;
        opacity: 0;
    }
    100%{
        top: 40%;
        opacity: 1;
    }
}
