@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --font-primaria: "Baloo Da 2", serif;
    --font-secundaria: "Josefin Slab", serif;
    --font-terciaria: "Mulish", serif;
}
.hamburguer{
   
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 1.5rem;
    top: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 1s;
    
}


.show-menu .hamburguer{
    right: 15rem;

}

.line{
    width: 100%;
    height: 0.14rem;
    background-color: white;
    
    box-shadow: .1rem .1rem 1px rgba(0, 0, 0, 0.4 ) ;
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;

}
.show-menu #line3{
    transform: rotate(-45deg) translate(.2rem, -.5rem) ;
}
.show-menu #line1{
    transform: rotate(45deg) translate(.2rem, .5rem);
}
#line3{
    transition: all 1s;
}
#line1{
    transition: all 1s;
}

.sidebar{
    background-color:rgb(39, 38, 38);
    width: 20rem;
    height: 100vh;
    position: fixed;
    z-index: 5;
    top: 0;
    right: -20rem;
    transition: all 1s;
}
.show-menu .sidebar{
    right: 0;
}



.menu{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu-item{
    text-align: center;
    margin-bottom: 1rem;
    
}
.menu-link{
    font-family: var(--font-terciaria);
    font-weight: 400;
    font-size: 2rem;
    color: white;
    transition: color 1s;
}
.menu-link:hover{
    color: #2688b0;
}
.social-media{
    
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;


}
.social-media i{
    background-color: #2688b0 ;
    color: rgb(39, 38, 38);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
    
}
.social-media i:hover{
    background-color: #1a546b;
}


header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    animation: zoom 25s;
}
.grad-header{
    width: 100%;
    height: 30rem;
    position: absolute;
    z-index: 3;
    top: 9.1rem;
    background-image: linear-gradient(rgba(0,0,0,0), #1a1a1a );
    background-size: cover;
}
.teste{
    width: 100%;
    height: 1100px;
    background-image: url(/img/n1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.banner {
    position: absolute;
    top: 30%;
    left: 15%;
    z-index: 4;
}
.banner h1{
    color: white;
    font-size: 3.5em;
    font-family: var(--font-primaria);
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.4 );
    line-height: 4rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: banner 1s 0.5s forwards;

}
.banner p{
    font-family: var(--font-secundaria);
    font-size: 2rem;
    color: white;
    font-weight: 200;
    margin-bottom: 2rem;
    opacity: 0;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.4 );
    animation: banner 1s 0.7s forwards;
}
.banner button{
    font-family: var(--font-terciaria);
    color: white;
    
    background: linear-gradient(to left, #2688b0 , #1a5e79 ); 
    border: 0;
    padding: 1rem 2rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-radius: 8px;
    opacity: 0;
    animation: banner 1s 0.9s forwards;
}

.banner button:hover{
    background: linear-gradient(to left, #1a5e79, #2688b0);
    
}
@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes banner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
        
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}





